In [1]:
import pandas as pd

In [2]:
df= pd.read_excel(r'D:\backup\fsds_pandas\Attribute DataSet.xlsx')

In [3]:
df

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,PatternType,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [4]:
pd.read_excel(r'D:\backup\fsds_pandas\Attribute DataSet.xlsx',header=None, names='A')

                                                                                                                                          A
Dress_ID   Style   Price   Rating Size Season NeckLine  SleeveLength waiseline Material   FabricType Decoration PatternType  Recommendation
1006032852 Sexy    Low     4.6    M    Summer o-neck    sleevless    empire    NaN        chiffon    ruffles    animal                    1
1212192089 Casual  Low     0      L    Summer o-neck    Petal        natural   microfiber NaN        ruffles    animal                    0
1190380701 vintage High    0      L    Automn o-neck    full         natural   polyster   NaN        NaN        print                     0
966005983  Brief   Average 4.6    L    Spring o-neck    full         natural   silk       chiffon    embroidary print                     1
...                                                                                                                                     ...
713391965  Casual  Low     4.7    M    Spring o-neck    full         natural   polyster   NaN        NaN        solid                     1
722565148  Sexy    Low     4.3    free Summer o-neck    full         empire    cotton     NaN        NaN        NaN                       0
532874347  Casual  Average 4.7    M    Summer v-neck    full         empire    cotton     NaN        lace       solid                     1
655464934  Casual  Average 4.6    L    winter boat-neck sleevless    empire    silk       broadcloth applique   print                     1
919930954  Casual  Low     4.4    free Summer v-neck    short        empire    cotton     Corduroy   lace       solid                     0

[501 rows x 1 columns]

In [5]:
df.head(2)

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,PatternType,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0

In [6]:
df.iloc[0:2]

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,PatternType,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0

In [7]:
df.loc[0:1]

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,PatternType,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0

In [8]:
df.tail(2)

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,PatternType,Recommendation
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [9]:
pd.read_csv(r'D:\backup\fsds_pandas\hbm.csv',sep='#')

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\backup\\fsds_pandas\\hbm.csv'

In [10]:
pd.read_csv('https://raw.githubusercontent.com/bcgov/housing-data-visualization-project/master/data/geography-concordance.csv')

,DevelopmentRegion,SGC,SGC_5digit,Regional District,RD-name-2,RD-PTT-grp,SGC.1,Municipality,Area Type,Municipal_PTT_grp
0,Kootenay,1000,1000,East Kootenay,East Kootenay,East Kootenay,1043,Canal Flats,VL,NaN
1,Kootenay,1000,1000,East Kootenay,East Kootenay,East Kootenay,1022,Cranbrook,CY,NaN
2,Kootenay,1000,1000,East Kootenay,East Kootenay,East Kootenay,1003,Elkford,DM,NaN
3,Kootenay,1000,1000,East Kootenay,East Kootenay,East Kootenay,1012,Fernie,CY,NaN
4,Kootenay,1000,1000,East Kootenay,East Kootenay,East Kootenay,1039,Invermere,DM,NaN
...,...,...,...,...,...,...,...,...,...,...
186,Northeast,55000,55000,Peace River,Peace River,NORTHERN ROCKIES-PEACE RIVER,55003,Tumbler Ridge,DM,NaN
187,Northeast,55000,55000,Peace River,Peace River,NORTHERN ROCKIES-PEACE RIVER,55999,Unincorporated Areas,RDR,NaN
188,Nechako,57000,57000,Stikine,Stikine,Stikine,57000,Stikine,R,NaN
189,Northeast,59000,59000,Northern Rockies,Northern Rockies,NORTHERN ROCKIES-PEACE RIVER,59007,Northern Rockies Regional Municipality,RGM,NaN
190,Northeast,59000,59000,Northern Rockies,Northern Rockies,NORTHERN ROCKIES-PEACE RIVER,59999,Unincorporated Areas,RDR,NaN

In [11]:
sbf=pd.read_html('https://www.espn.com/nba/team/stats/_/name/cle')

In [12]:
sbf[0]

                     Name
0       Darius Garland PG
1         Jarrett Allen C
2        Collin Sexton PG
3           Evan Mobley C
4      Lauri Markkanen PF
5           Kevin Love PF
6       Caris LeVert SG *
7          Ricky Rubio PG
8           Cedi Osman SF
9          Isaac Okoro SF
10         Malik Newman G
11        Moses Brown C *
12       Rajon Rondo PG *
13        Lamar Stevens F
14           Dean Wade PF
15      Brandon Goodwin G
16    Justin Anderson F *
17         Trevon Scott F
18  Denzel Valentine SG *
19       Dylan Windler SG
20        Luke Kornet F *
21         Kevin Pangos G
22           Tacko Fall C
23     RJ Nembhard Jr. SG
24       Tim Frazier PG *
25             Ed Davis C
26                  Total

In [13]:
sbf[1]

,GP,GS,MIN,PTS,OR,DR,REB,AST,STL,BLK,TO,PF,AST/TO,PER
0,68,68.0,35.7,21.7,0.6,2.7,3.3,8.6,1.3,0.1,3.6,1.7,2.4,19.04
1,56,56.0,32.3,16.1,3.4,7.3,10.8,1.6,0.8,1.3,1.7,1.7,1.0,23.08
2,11,11.0,28.7,16.0,1.2,2.1,3.3,2.1,0.9,0.0,2.8,2.3,0.7,11.27
3,69,69.0,33.8,15.0,2.1,6.2,8.3,2.5,0.8,1.7,1.9,2.1,1.3,16.15
4,61,61.0,30.8,14.8,1.0,4.7,5.7,1.3,0.7,0.5,0.9,2.1,1.5,14.76
5,74,4.0,22.5,13.6,1.2,6.1,7.2,2.2,0.4,0.2,1.3,1.4,1.6,19.67
6,19,10.0,29.8,13.6,0.7,2.7,3.4,3.9,0.8,0.3,1.7,2.1,2.3,12.45
7,34,8.0,28.5,13.1,0.4,3.7,4.1,6.6,1.4,0.2,2.6,2.2,2.5,14.01
8,66,3.0,22.2,10.7,0.4,1.8,2.2,2.0,0.8,0.2,1.0,1.9,2.0,13.33
9,67,61.0,29.6,8.8,1.1,1.9,3.0,1.8,0.8,0.3,0.9,2.4,2.1,10.39
10,1,0.0,8.0,8.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,28.72
11,14,5.0,12.6,6.4,1.6,3.6,5.3,0.0,0.3,0.5,0.4,1.8,0.0,21.47
12,21,1.0,19.4,6.2,0.2,2.6,2.8,4.9,0.9,0.0,1.6,1.5,3.0,13.93
13,63,13.0,16.1,6.1,0.7,1.9,2.6,0.7,0.5,0.3,0.7,1.7,1.1,11.33
14,51,28.0,19.2,5.3,0.6,2.3,2.9,1.0,0.6,0.1,0.3,1.7,3.3,10.17
15,36,5.0,13.9,4.8,0.4,1.5,1.9,2.5,0.7,0.0,1.0,1.1,2.5,11.88
16,3,0.0,15.7,4.3,0.0,2.0,2.0,2.0,0.3,0.0,0.7,1.3,3.0,10.69
17,2,0.0,5.5,3.0,0.5,0.5,1.0,0.0,0.5,0.5,0.0,1.0,0.0,20.54
18,22,0.0,9.3,2.9,0.4,1.3,1.7,0.5,0.3,0.0,0.5,0.8,1.1,8.44
19,50,0.0,9.2,2.2,0.4,1.4,1.8,0.7,0.3,0.1,0.3,0.9,2.1,8.80
20,2,0.0,7.5,2.0,1.0,0.5,1.5,0.5,0.0,0.5,0.0,0.5,inf,8.74
21,24,3.0,6.9,1.6,0.1,0.4,0.5,1.3,0.1,0.0,0.3,0.5,4.3,6.50
22,11,1.0,5.4,1.1,0.6,1.5,2.1,0.2,0.0,0.5,0.3,0.3,0.7,11.32
23,14,0.0,4.5,1.1,0.2,0.3,0.5,0.9,0.1,0.0,0.2,0.1,4.0,8.06
24,2,0.0,4.0,1.0,0.0,0.0,0.0,0.5,0.0,0.0,1.0,1.5,0.5,-10.20
25,31,3.0,6.5,0.9,0.5,1.6,2.1,0.2,0.1,0.3,0.2,1.1,1.4,9.35
26,82,NaN,NaN,107.8,10.2,34.0,44.2,25.2,7.1,4.2,13.3,17.5,1.9,NaN

In [14]:
len(sbf)

4

In [15]:
sbf[2]

                     Name
0       Darius Garland PG
1         Jarrett Allen C
2        Collin Sexton PG
3           Evan Mobley C
4      Lauri Markkanen PF
5           Kevin Love PF
6       Caris LeVert SG *
7          Ricky Rubio PG
8           Cedi Osman SF
9          Isaac Okoro SF
10         Malik Newman G
11        Moses Brown C *
12       Rajon Rondo PG *
13        Lamar Stevens F
14           Dean Wade PF
15      Brandon Goodwin G
16    Justin Anderson F *
17         Trevon Scott F
18  Denzel Valentine SG *
19       Dylan Windler SG
20        Luke Kornet F *
21         Kevin Pangos G
22           Tacko Fall C
23     RJ Nembhard Jr. SG
24       Tim Frazier PG *
25             Ed Davis C
26                  Total

In [16]:
sbf[3]

,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,2PM,2PA,2P%,SC-EFF,SH-EFF
0,8.0,17.3,46.2,2.6,6.7,38.3,3.2,3.5,89.2,5.4,10.6,51.2,1.256,0.54
1,6.6,9.7,67.7,0.0,0.2,10.0,2.9,4.2,70.8,6.6,9.6,68.8,1.659,0.68
2,6.2,13.7,45.0,1.0,4.1,24.4,2.6,3.5,74.4,5.2,9.6,53.8,1.166,0.49
3,6.1,12.0,50.8,0.3,1.3,25.0,2.4,3.7,66.3,5.8,10.7,54.1,1.246,0.52
4,5.1,11.5,44.5,2.2,6.2,35.8,2.3,2.6,86.8,2.9,5.3,54.8,1.280,0.54
5,4.4,10.3,43.0,2.5,6.4,39.2,2.2,2.7,83.8,1.9,3.8,49.3,1.323,0.55
6,5.3,12.2,43.5,1.1,3.5,31.3,1.8,2.5,74.5,4.2,8.7,48.5,1.112,0.48
7,4.4,12.1,36.3,1.7,5.1,33.9,2.6,3.0,85.4,2.6,7.0,38.0,1.083,0.43
8,3.7,8.7,43.2,1.9,5.4,35.7,1.3,2.0,66.4,1.8,3.2,55.9,1.240,0.54
9,3.1,6.4,48.0,0.8,2.3,35.0,1.8,2.3,76.8,2.3,4.1,55.5,1.364,0.54
10,3.0,5.0,60.0,0.0,1.0,0.0,2.0,2.0,100.0,3.0,4.0,75.0,1.600,0.60
11,2.6,4.1,63.8,0.0,0.0,0.0,1.1,2.1,55.2,2.6,4.1,63.8,1.552,0.64
12,2.1,5.0,42.9,1.1,2.8,39.7,0.9,1.1,75.0,1.0,2.2,46.8,1.248,0.54
13,2.5,5.1,48.9,0.3,1.0,27.7,0.8,1.2,70.7,2.2,4.0,54.3,1.201,0.52
14,1.9,4.3,45.6,1.0,2.8,35.9,0.4,0.6,66.7,0.9,1.5,64.0,1.240,0.57
15,1.8,4.3,41.6,0.5,1.5,34.5,0.7,1.1,63.2,1.3,2.8,45.5,1.110,0.48
16,1.3,2.7,50.0,0.7,2.0,33.3,1.0,1.3,75.0,0.7,0.7,100.0,1.625,0.63
17,1.5,3.0,50.0,0.0,0.5,0.0,0.0,0.0,0.0,1.5,2.5,60.0,1.000,0.50
18,1.0,2.8,37.1,0.8,2.0,40.9,0.0,0.0,0.0,0.2,0.8,27.8,1.032,0.52
19,0.7,2.0,37.8,0.4,1.4,30.0,0.3,0.4,83.3,0.3,0.6,57.1,1.122,0.48
20,0.5,2.5,20.0,0.0,0.5,0.0,1.0,1.5,66.7,0.5,2.0,25.0,0.800,0.20
21,0.6,1.9,32.6,0.3,1.1,23.1,0.1,0.2,75.0,0.4,0.8,45.0,0.848,0.39
22,0.5,1.1,41.7,0.0,0.0,0.0,0.2,0.6,28.6,0.5,1.1,41.7,1.000,0.42
23,0.4,1.3,33.3,0.0,0.1,0.0,0.2,0.3,75.0,0.4,1.1,37.5,0.833,0.33
24,0.5,1.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5,1.0,50.0,1.000,0.50
25,0.4,0.5,68.8,0.0,0.0,0.0,0.2,0.5,42.9,0.4,0.5,68.8,1.750,0.69
26,39.7,84.6,46.9,11.6,32.8,35.5,16.8,22.1,76.0,28.1,51.9,54.1,1.274,0.54

In [17]:
sbf

[                     Name
 0       Darius Garland PG
 1         Jarrett Allen C
 2        Collin Sexton PG
 3           Evan Mobley C
 4      Lauri Markkanen PF
 5           Kevin Love PF
 6       Caris LeVert SG *
 7          Ricky Rubio PG
 8           Cedi Osman SF
 9          Isaac Okoro SF
 10         Malik Newman G
 11        Moses Brown C *
 12       Rajon Rondo PG *
 13        Lamar Stevens F
 14           Dean Wade PF
 15      Brandon Goodwin G
 16    Justin Anderson F *
 17         Trevon Scott F
 18  Denzel Valentine SG *
 19       Dylan Windler SG
 20        Luke Kornet F *
 21         Kevin Pangos G
 22           Tacko Fall C
 23     RJ Nembhard Jr. SG
 24       Tim Frazier PG *
 25             Ed Davis C
 26                  Total,
     GP    GS   MIN    PTS    OR    DR   REB   AST  STL  BLK    TO    PF  \
 0   68  68.0  35.7   21.7   0.6   2.7   3.3   8.6  1.3  0.1   3.6   1.7
 1   56  56.0  32.3   16.1   3.4   7.3  10.8   1.6  0.8  1.3   1.7   1.7
 2   11  11.0  28.7   16.0   1.2   2.1   3.3   2.1  0.9  0.0   2.8   2.3
 3   69  69.0  33.8   15.0   2.1   6.2   8.3   2.5  0.8  1.7   1.9   2.1
 4   61  61.0  30.8   14.8   1.0   4.7   5.7   1.3  0.7  0.5   0.9   2.1
 5   74   4.0  22.5   13.6   1.2   6.1   7.2   2.2  0.4  0.2   1.3   1.4
 6   19  10.0  29.8   13.6   0.7   2.7   3.4   3.9  0.8  0.3   1.7   2.1
 7   34   8.0  28.5   13.1   0.4   3.7   4.1   6.6  1.4  0.2   2.6   2.2
 8   66   3.0  22.2   10.7   0.4   1.8   2.2   2.0  0.8  0.2   1.0   1.9
 9   67  61.0  29.6    8.8   1.1   1.9   3.0   1.8  0.8  0.3   0.9   2.4
 10   1   0.0   8.0    8.0   0.0   1.0   1.0   1.0  0.0  0.0   1.0   0.0
 11  14   5.0  12.6    6.4   1.6   3.6   5.3   0.0  0.3  0.5   0.4   1.8
 12  21   1.0  19.4    6.2   0.2   2.6   2.8   4.9  0.9  0.0   1.6   1.5
 13  63  13.0  16.1    6.1   0.7   1.9   2.6   0.7  0.5  0.3   0.7   1.7
 14  51  28.0  19.2    5.3   0.6   2.3   2.9   1.0  0.6  0.1   0.3   1.7
 15  36   5.0  13.9    4.8   0.4   1.5   1.9   2.5  0.7  0.0   1.0   1.1
 16   3   0.0  15.7    4.3   0.0   2.0   2.0   2.0  0.3  0.0   0.7   1.3
 17   2   0.0   5.5    3.0   0.5   0.5   1.0   0.0  0.5  0.5   0.0   1.0
 18  22   0.0   9.3    2.9   0.4   1.3   1.7   0.5  0.3  0.0   0.5   0.8
 19  50   0.0   9.2    2.2   0.4   1.4   1.8   0.7  0.3  0.1   0.3   0.9
 20   2   0.0   7.5    2.0   1.0   0.5   1.5   0.5  0.0  0.5   0.0   0.5
 21  24   3.0   6.9    1.6   0.1   0.4   0.5   1.3  0.1  0.0   0.3   0.5
 22  11   1.0   5.4    1.1   0.6   1.5   2.1   0.2  0.0  0.5   0.3   0.3
 23  14   0.0   4.5    1.1   0.2   0.3   0.5   0.9  0.1  0.0   0.2   0.1
 24   2   0.0   4.0    1.0   0.0   0.0   0.0   0.5  0.0  0.0   1.0   1.5
 25  31   3.0   6.5    0.9   0.5   1.6   2.1   0.2  0.1  0.3   0.2   1.1
 26  82   NaN   NaN  107.8  10.2  34.0  44.2  25.2  7.1  4.2  13.3  17.5

     AST/TO    PER
 0      2.4  19.04
 1      1.0  23.08
 2      0.7  11.27
 3      1.3  16.15
 4      1.5  14.76
 5      1.6  19.67
 6      2.3  12.45
 7      2.5  14.01
 8      2.0  13.33
 9      2.1  10.39
 10     1.0  28.72
 11     0.0  21.47
 12     3.0  13.93
 13     1.1  11.33
 14     3.3  10.17
 15     2.5  11.88
 16     3.0  10.69
 17     0.0  20.54
 18     1.1   8.44
 19     2.1   8.80
 20     inf   8.74
 21     4.3   6.50
 22     0.7  11.32
 23     4.0   8.06
 24     0.5 -10.20
 25     1.4   9.35
 26     1.9    NaN  ,
                      Name
 0       Darius Garland PG
 1         Jarrett Allen C
 2        Collin Sexton PG
 3           Evan Mobley C
 4      Lauri Markkanen PF
 5           Kevin Love PF
 6       Caris LeVert SG *
 7          Ricky Rubio PG
 8           Cedi Osman SF
 9          Isaac Okoro SF
 10         Malik Newman G
 11        Moses Brown C *
 12       Rajon Rondo PG *
 13        Lamar Stevens F
 14           Dean Wade PF
 15      Brandon Goodwin G
 16    Justin Anderson F *
 17         Trevon Scott F
 18  Denzel Valentine SG *
 19       Dylan Windler SG
 20        Luke Kornet F *
 21         Kevin Pangos G
 22           Tacko Fall C
 23     RJ Nembhard Jr. SG
 24       Tim Frazier PG *
 25             Ed Davis C
 26                  Total,
      FGM   FGA   FG%   3PM   3PA   3P%   FTM   FTA    FT%   2PM   2PA    2P%  \
 0    8.0  17.3  46.2   2.6   6.7  38.3   3.2   3.5   89.2   5.4  10.6   51.2
 1    6.6   9.7  67.7   0.0   0.2  10.0   2.9   4.2   70.8   6.6   9.6   68.8
 2    6.2  13.7  45.0   1.0   4.1  24.4   2.6   3.5   74.4   5.2   9.6   53.8
 3    6.1  12.0  50.8   0.3   1.3  25.0   2.4   3.7   66.3   5.8  10.7   54.1
 4    5.1  11.5  44.5   2.2   6.2  35.8   2.3   2.6   86.8   2.9   5.3   54.8
 5    4.4  10.3  43.0   2.5   6.4  39.2   2.2   2.7   83.8   1.9   3.8   49.3
 6    5.3  12.2  43.5   1.1   3.5  31.3   1.8   2.5   74.5   4.2   8.7   48.5
 7    4.4  12.1  36.3   1.7   5.1  33.9   2.6   3.0   85.4   2.6   7.0   38.0
 8    3.7   8.7  43.2   1.9   5.4  35.7   1.3   2.0   66.4   1.8   3.2   55.9
 9    3.1   6.4  48.0   0.8   2.3  35.0   1.8   2.3   76.8   2.3   4.1   55.5
 10   3.0   5.0  60.0   0.0   1.0   0.0   2.0   2.0  100.0   3.0   4.0   75.0
 11   2.6   4.1  63.8   0.0   0.0   0.0   1.1   2.1   55.2   2.6   4.1   63.8
 12   2.1   5.0  42.9   1.1   2.8  39.7   0.9   1.1   75.0   1.0   2.2   46.8
 13   2.5   5.1  48.9   0.3   1.0  27.7   0.8   1.2   70.7   2.2   4.0   54.3
 14   1.9   4.3  45.6   1.0   2.8  35.9   0.4   0.6   66.7   0.9   1.5   64.0
 15   1.8   4.3  41.6   0.5   1.5  34.5   0.7   1.1   63.2   1.3   2.8   45.5
 16   1.3   2.7  50.0   0.7   2.0  33.3   1.0   1.3   75.0   0.7   0.7  100.0
 17   1.5   3.0  50.0   0.0   0.5   0.0   0.0   0.0    0.0   1.5   2.5   60.0
 18   1.0   2.8  37.1   0.8   2.0  40.9   0.0   0.0    0.0   0.2   0.8   27.8
 19   0.7   2.0  37.8   0.4   1.4  30.0   0.3   0.4   83.3   0.3   0.6   57.1
 20   0.5   2.5  20.0   0.0   0.5   0.0   1.0   1.5   66.7   0.5   2.0   25.0
 21   0.6   1.9  32.6   0.3   1.1  23.1   0.1   0.2   75.0   0.4   0.8   45.0
 22   0.5   1.1  41.7   0.0   0.0   0.0   0.2   0.6   28.6   0.5   1.1   41.7
 23   0.4   1.3  33.3   0.0   0.1   0.0   0.2   0.3   75.0   0.4   1.1   37.5
 24   0.5   1.0  50.0   0.0   0.0   0.0   0.0   0.0    0.0   0.5   1.0   50.0
 25   0.4   0.5  68.8   0.0   0.0   0.0   0.2   0.5   42.9   0.4   0.5   68.8
 26  39.7  84.6  46.9  11.6  32.8  35.5  16.8  22.1   76.0  28.1  51.9   54.1

     SC-EFF  SH-EFF
 0    1.256    0.54
 1    1.659    0.68
 2    1.166    0.49
 3    1.246    0.52
 4    1.280    0.54
 5    1.323    0.55
 6    1.112    0.48
 7    1.083    0.43
 8    1.240    0.54
 9    1.364    0.54
 10   1.600    0.60
 11   1.552    0.64
 12   1.248    0.54
 13   1.201    0.52
 14   1.240    0.57
 15   1.110    0.48
 16   1.625    0.63
 17   1.000    0.50
 18   1.032    0.52
 19   1.122    0.48
 20   0.800    0.20
 21   0.848    0.39
 22   1.000    0.42
 23   0.833    0.33
 24   1.000    0.50
 25   1.750    0.69
 26   1.274    0.54  ]

In [18]:
jf=pd.read_json('https://api.github.com/repos/pandas-dev/pandas/issues')

In [19]:
type(jf)

pandas.core.frame.DataFrame

In [20]:
jf

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,closed_at,author_association,active_lock_reason,body,reactions,timeline_url,performed_via_github_app,state_reason,draft,pull_request
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48192,1345860185,I_kwDOAA0YD85QODJZ,48192,ENH: filter improvement,...,NaT,NONE,NaN,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48191,1345583744,PR_kwDOAA0YD849hOQ8,48191,TYP: Autotyping,...,NaT,CONTRIBUTOR,NaN,Running autotyping on pandas https://github.co...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48190,1345583475,PR_kwDOAA0YD849hONn,48190,BUG: Reindex casting to object in certain situ...,...,NaT,MEMBER,NaN,- [ ] closes #xxxx (Replace xxxx with the Gith...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48189,1345579050,PR_kwDOAA0YD849hNXx,48189,Backport PR #48167 on branch 1.4.x (BUG: DTI.i...,...,NaT,NONE,NaN,Backport PR #48167: BUG: DTI.intersection with...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48188,1345544451,I_kwDOAA0YD85QM2ED,48188,BUG: Using NamedTuples with `.iloc` fails,...,NaT,CONTRIBUTOR,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48186,1345311874,I_kwDOAA0YD85QL9SC,48186,TYP/DOC: importing from api.py/__init__.py,...,NaT,CONTRIBUTOR,NaN,Two questions related to symbols exported in t...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48185,1345286800,PR_kwDOAA0YD849gUXA,48185,BUG: reindex using wrong fill value when index...,...,NaT,MEMBER,NaN,- [x] closes #48184 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48184,1345279015,I_kwDOAA0YD85QL1Qn,48184,BUG: when re-index is filling values for both ...,...,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48182,1345221596,PR_kwDOAA0YD849gHvZ,48182,DOC: Add mention that mangle_dupe_cols is depr...,...,NaT,MEMBER,NaN,cc @datapythonista \r\n,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48181,1345184207,I_kwDOAA0YD85QLeHP,48181,BUG: pd.read_xml does not return attributes w...,...,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48180,1345179104,PR_kwDOAA0YD849f_R-,48180,CI: Switch to large for circleci,...,NaT,MEMBER,NaN,- [ ] ref #48179 (Replace xxxx with the Github...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48179,1345178542,I_kwDOAA0YD85QLcuu,48179,CI: Circleci timing out regularly,...,NaT,MEMBER,NaN,We are pretty close to the 60min job limit rig...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48178,1345164837,PR_kwDOAA0YD849f8nC,48178,REGR: loc not working with NamedTuple,...,NaT,MEMBER,NaN,- [x] closes #48124 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48176,1345088830,PR_kwDOAA0YD849ftrH,48176,REGR: ensure DataFrame.select_dtypes() returns...,...,NaT,MEMBER,NaN,- [x] closes #48090\r\n- [x] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48172,1345034436,I_kwDOAA0YD85QK5jE,48172,TST: Fix check_stacklevel=False in extensions/...,...,NaT,MEMBER,NaN,Avoid `check_stacklevel=False` calls made in h...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48168,1344906425,PR_kwDOAA0YD849fJao,48168,TST: Add test for replace categorical no repla...,...,NaT,MEMBER,NaN,- [x] closes #46672 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48164,1344788565,PR_kwDOAA0YD849ewol,48164,BUG/REGR: Fix subset for DataFrameGroupBy.valu...,...,NaT,MEMBER,NaN,- [x] closes #46383 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48160,1344707800,PR_kwDOAA0YD849ee_Y,48160,ENH: reset_index copy kwd,...,NaT,MEMBER,NaN,- [ ] closes #xxxx (Replace xxxx with the Gith...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48159,1344698324,PR_kwDOAA0YD849ec9G,48159,TST: Fix interchange/plotting/groupby test war...,...,NaT,MEMBER,NaN,- [x] [Tests added and passed](https://pandas....,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48150,1344225430,PR_kwDOAA0YD849c27n,48150,ENH: Support mask in duplicated algorithm,...,NaT,MEMBER,NaN,- [x] xref #45776 (Replace xxxx with the Githu...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48149,1344179347,PR_kwDOAA0YD849ctFO,48149,REGR: fix calling numpy bitwise ufunc with Ind...,...,NaT,MEMBER,NaN,- [x] closes #46769\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48148,1344157630,PR_kwDOAA0YD849cogJ,48148,BLD: Explicitly state pip as a dependency in e...,...,NaT,NONE,NaN,- [x] closes #48026 \r\n- [x] All code checks ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48146,1343852279,PR_kwDOAA0YD849bnq3,48146,DEPR: inplace kwarg in rename_axis,...,NaT,MEMBER,NaN,- [ ] closes #xxxx (Replace xxxx with the Gith...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48145,1343815512,I_kwDOAA0YD85QGP9Y,48145,DEPR: reindex/rename_axis signature make rewri...,...,NaT,MEMBER,NaN,AFAICT rewrite_axis_style_signature exists to ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48144,1343774703,PR_kwDOAA0YD849bYL7,48144,TYP: fix ReadPickleBuffer,...,NaT,CONTRIBUTOR,NaN,This makes ReadPickleBuffer compatible with `t...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48141,1343705550,I_kwDOAA0YD85QF1HO,48141,ENH/PERF: copy=True keyword in methods where c...,...,NaT,MEMBER,NaN,"xref #48117, #47993, #48043, #47934, #47932\r\...",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48140,1343690177,I_kwDOAA0YD85QFxXB,48140,TYP: Make typing consistent for closed argumen...,...,NaT,MEMBER,NaN,"Initially, this was fixed in https://github.co...",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48138,1343654664,PR_kwDOAA0YD849a_Cl,48138,ENH: Support mask in groupby cumprod,...,NaT,MEMBER,NaN,- [x] xref #37493 (Replace xxxx with the Githu...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48136,1342694927,I_kwDOAA0YD85QB-YP,48136,BUG: to_sql(method=psql_insert_copy) not work...,...,NaT,CONTRIBUTOR,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48135,1342631634,I_kwDOAA0YD85QBu7S,48135,BUG: The parameter “as_index=False” is not val...,...,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN

In [21]:
udf=pd.DataFrame.from_records(jf['user'])

In [22]:
udf.loc[1]

login                                                         twoertwein
id                                                               6618166
node_id                                             MDQ6VXNlcjY2MTgxNjY=
avatar_url             https://avatars.githubusercontent.com/u/661816...
gravatar_id
url                              https://api.github.com/users/twoertwein
html_url                                   https://github.com/twoertwein
followers_url          https://api.github.com/users/twoertwein/followers
following_url          https://api.github.com/users/twoertwein/follow...
gists_url              https://api.github.com/users/twoertwein/gists{...
starred_url            https://api.github.com/users/twoertwein/starre...
subscriptions_url      https://api.github.com/users/twoertwein/subscr...
organizations_url           https://api.github.com/users/twoertwein/orgs
repos_url                  https://api.github.com/users/twoertwein/repos
events_url             https://api.github.com/users/twoertwein/events...
received_events_url    https://api.github.com/users/twoertwein/receiv...
type                                                                User
site_admin                                                         False
Name: 1, dtype: object

In [124]:
df=pd.read_csv(r'D:\backup\fsds_pandas\sales_data_final.csv')

In [125]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408,2,0.0,106.1400,35.46,Medium,2011
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.0360,9.72,Medium,2011
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66,4,0.0,29.6400,8.17,High,2011
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.0550,4.82,High,2011
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.7700,4.70,Medium,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,2,0.2,4.5188,0.89,Medium,2014
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-Dra,Morocco,Africa,Africa,...,Office Supplies,Binders,"Wilson Jones Hole Reinforcements, Clear",4,1,0.0,0.4200,0.49,Medium,2014
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Office Supplies,Labels,"Hon Color Coded Labels, 5000 Label Set",26,3,0.0,12.3600,0.35,Medium,2014
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Office Supplies,Labels,"Hon Legal Exhibit Labels, Alphabetical",7,1,0.0,0.5600,0.20,Medium,2014
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Office Supplies,Fasteners,Bagged Rubber Bands,3,3,0.2,-0.6048,0.17,Medium,2014

In [25]:
df.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year'],
      dtype='object')

In [26]:
df['order_date']

0          1/1/2011
1          1/1/2011
2          1/1/2011
3          1/1/2011
4          1/1/2011
            ...
51285    12/31/2014
51286    12/31/2014
51287    12/31/2014
51288    12/31/2014
51289    12/31/2014
Name: order_date, Length: 51290, dtype: object

In [27]:
type(df['order_date'])

pandas.core.series.Series

In [28]:
type(df[['order_date']])

pandas.core.frame.DataFrame

In [29]:
df.dtypes

order_id           object
order_date         object
ship_date          object
ship_mode          object
customer_name      object
segment            object
state              object
country            object
market             object
region             object
product_id         object
category           object
sub_category       object
product_name       object
sales              object
quantity            int64
discount          float64
profit            float64
shipping_cost     float64
order_priority     object
year                int64
dtype: object

In [30]:
df[df.dtypes[df.dtypes=='object'].index]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,product_id,category,sub_category,product_name,sales,order_priority
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,OFF-TEN-10000025,Office Supplies,Storage,"Tenex Lockers, Blue",408,Medium
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,OFF-SU-10000618,Office Supplies,Supplies,"Acme Trimmer, High Speed",120,Medium
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,OFF-TEN-10001585,Office Supplies,Storage,"Tenex Box, Single Width",66,High
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,OFF-PA-10001492,Office Supplies,Paper,"Enermax Note Cards, Premium",45,High
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,FUR-FU-10003447,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,OFF-BI-10002103,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,Medium
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-Dra,Morocco,Africa,Africa,OFF-WIL-10001069,Office Supplies,Binders,"Wilson Jones Hole Reinforcements, Clear",4,Medium
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,OFF-LA-10004182,Office Supplies,Labels,"Hon Color Coded Labels, 5000 Label Set",26,Medium
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,OFF-LA-10000413,Office Supplies,Labels,"Hon Legal Exhibit Labels, Alphabetical",7,Medium
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,OFF-FA-10003472,Office Supplies,Fasteners,Bagged Rubber Bands,3,Medium

In [31]:
df.describe()

           quantity      discount        profit  shipping_cost          year
count  51290.000000  51290.000000  51290.000000   51290.000000  51290.000000
mean       3.476545      0.142908     28.641740      26.375915   2012.777208
std        2.278766      0.212280    174.424113      57.296804      1.098931
min        1.000000      0.000000  -6599.978000       0.000000   2011.000000
25%        2.000000      0.000000      0.000000       2.610000   2012.000000
50%        3.000000      0.000000      9.240000       7.790000   2013.000000
75%        5.000000      0.200000     36.810000      24.450000   2014.000000
max       14.000000      0.850000   8399.976000     933.570000   2014.000000

In [32]:
df.describe(include='object')

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,product_id,category,sub_category,product_name,sales,order_priority
count,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290
unique,25035,1430,1464,4,795,3,1094,147,7,13,10292,3,17,3788,2246,4
top,CA-2014-100111,6/18/2014,11/22/2014,Standard Class,Muhammed Yedwab,Consumer,California,United States,APAC,Central,OFF-AR-10003651,Office Supplies,Binders,Staples,13,Medium
freq,14,135,130,30775,108,26518,2001,9994,11002,11117,35,31273,6152,227,589,29433

In [33]:
df[df.order_id=='CA-2014-100111'].count

<bound method DataFrame.count of              order_id order_date  ship_date       ship_mode customer_name  \
44726  CA-2014-100111  9/21/2014  9/27/2014  Standard Class   Seth Vernon
44727  CA-2014-100111  9/21/2014  9/27/2014  Standard Class   Seth Vernon
44728  CA-2014-100111  9/21/2014  9/27/2014  Standard Class   Seth Vernon
44730  CA-2014-100111  9/21/2014  9/27/2014  Standard Class   Seth Vernon
44731  CA-2014-100111  9/21/2014  9/27/2014  Standard Class   Seth Vernon
44732  CA-2014-100111  9/21/2014  9/27/2014  Standard Class   Seth Vernon
44733  CA-2014-100111  9/21/2014  9/27/2014  Standard Class   Seth Vernon
44735  CA-2014-100111  9/21/2014  9/27/2014  Standard Class   Seth Vernon
44736  CA-2014-100111  9/21/2014  9/27/2014  Standard Class   Seth Vernon
44738  CA-2014-100111  9/21/2014  9/27/2014  Standard Class   Seth Vernon
44739  CA-2014-100111  9/21/2014  9/27/2014  Standard Class   Seth Vernon
44740  CA-2014-100111  9/21/2014  9/27/2014  Standard Class   Seth Vernon
44741  CA-2014-100111  9/21/2014  9/27/2014  Standard Class   Seth Vernon
44742  CA-2014-100111  9/21/2014  9/27/2014  Standard Class   Seth Vernon

        segment     state        country market region  ...         category  \
44726  Consumer  New York  United States     US   East  ...        Furniture
44727  Consumer  New York  United States     US   East  ...        Furniture
44728  Consumer  New York  United States     US   East  ...       Technology
44730  Consumer  New York  United States     US   East  ...        Furniture
44731  Consumer  New York  United States     US   East  ...       Technology
44732  Consumer  New York  United States     US   East  ...       Technology
44733  Consumer  New York  United States     US   East  ...        Furniture
44735  Consumer  New York  United States     US   East  ...       Technology
44736  Consumer  New York  United States     US   East  ...       Technology
44738  Consumer  New York  United States     US   East  ...  Office Supplies
44739  Consumer  New York  United States     US   East  ...  Office Supplies
44740  Consumer  New York  United States     US   East  ...  Office Supplies
44741  Consumer  New York  United States     US   East  ...  Office Supplies
44742  Consumer  New York  United States     US   East  ...  Office Supplies

      sub_category                                       product_name  sales  \
44726       Chairs  Hon 4070 Series Pagoda Armless Upholstered Sta...  2,888
44727       Chairs      Global Troy Executive Leather Low-Back Tilter  2,254
44728       Phones                                     Apple iPhone 5  1,300
44730       Chairs                         Hon Valutask Swivel Chairs    273
44731  Accessories  LogitechÿWireless Boombox Speaker - portable -...    213
44732       Phones  Plantronics CordlessÿPhone Headsetÿwith In-lin...    105
44733       Chairs                   Global Leather Task Chair, Black     81
44735  Accessories  LogitechÿLS21 Speaker System - PC Multimedia -...     60
44736  Accessories               SanDisk Cruzer 64 GB USB Flash Drive     73
44738      Storage  SimpliFile Personal File, Black Granite, 15w x...     45
44739        Paper  TOPS "Important Message" Pads, Canary, 4-1/4 x...     39
44740        Paper  Adams Phone Message Book, 200 Message Capacity...     14
44741      Binders  Pressboard Covers with Storage Hooks, 9 1/2" x...     12
44742    Fasteners                                 Advantus Push Pins      4

      quantity  discount    profit  shipping_cost  order_priority  year
44726       11       0.1  609.7157         177.06          Medium  2014
44727        5       0.1  375.7350         175.20          Medium  2014
44728        2       0.0  350.9082          53.23          Medium  2014
44730        3       0.1   18.1764          29.25          Medium  2014
44731        2       0.0   95.7600          15.57          Medium  2014
44732        3       0.0   28.3095           8.25          Medium  2014
44733        1       0.1    8.0991           7.78          Medium  2014
44735        3       0.0   20.3898           3.42          Medium  2014
44736        2       0.0   21.7920           2.48          Medium  2014
44738        4       0.0   12.7120           1.91          Medium  2014
44739        9       0.0   18.1044           1.88          Medium  2014
44740        2       0.0    6.3296           1.35          Medium  2014
44741        3       0.2    3.9771           1.28          Medium  2014
44742        2       0.0    1.7876           0.26          Medium  2014

[14 rows x 21 columns]>

In [34]:
df[df.dtypes[df.dtypes=='float'].index]

       discount    profit  shipping_cost
0           0.0  106.1400          35.46
1           0.1   36.0360           9.72
2           0.0   29.6400           8.17
3           0.5  -26.0550           4.82
4           0.1   37.7700           4.70
...         ...       ...            ...
51285       0.2    4.5188           0.89
51286       0.0    0.4200           0.49
51287       0.0   12.3600           0.35
51288       0.0    0.5600           0.20
51289       0.2   -0.6048           0.17

[51290 rows x 3 columns]

In [35]:
df['n__col']='tiki_gadhi'

In [36]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,n__col
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Storage,"Tenex Lockers, Blue",408,2,0.0,106.1400,35.46,Medium,2011,tiki_gadhi
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.0360,9.72,Medium,2011,tiki_gadhi
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Storage,"Tenex Box, Single Width",66,4,0.0,29.6400,8.17,High,2011,tiki_gadhi
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.0550,4.82,High,2011,tiki_gadhi
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.7700,4.70,Medium,2011,tiki_gadhi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,2,0.2,4.5188,0.89,Medium,2014,tiki_gadhi
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-Dra,Morocco,Africa,Africa,...,Binders,"Wilson Jones Hole Reinforcements, Clear",4,1,0.0,0.4200,0.49,Medium,2014,tiki_gadhi
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Labels,"Hon Color Coded Labels, 5000 Label Set",26,3,0.0,12.3600,0.35,Medium,2014,tiki_gadhi
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Labels,"Hon Legal Exhibit Labels, Alphabetical",7,1,0.0,0.5600,0.20,Medium,2014,tiki_gadhi
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Fasteners,Bagged Rubber Bands,3,3,0.2,-0.6048,0.17,Medium,2014,tiki_gadhi

In [37]:
df['n__col']='dfps'

In [38]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,n__col
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Storage,"Tenex Lockers, Blue",408,2,0.0,106.1400,35.46,Medium,2011,dfps
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.0360,9.72,Medium,2011,dfps
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Storage,"Tenex Box, Single Width",66,4,0.0,29.6400,8.17,High,2011,dfps
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.0550,4.82,High,2011,dfps
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.7700,4.70,Medium,2011,dfps
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,2,0.2,4.5188,0.89,Medium,2014,dfps
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-Dra,Morocco,Africa,Africa,...,Binders,"Wilson Jones Hole Reinforcements, Clear",4,1,0.0,0.4200,0.49,Medium,2014,dfps
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Labels,"Hon Color Coded Labels, 5000 Label Set",26,3,0.0,12.3600,0.35,Medium,2014,dfps
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Labels,"Hon Legal Exhibit Labels, Alphabetical",7,1,0.0,0.5600,0.20,Medium,2014,dfps
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Fasteners,Bagged Rubber Bands,3,3,0.2,-0.6048,0.17,Medium,2014,dfps

In [39]:
df.pop("n__col")

0        dfps
1        dfps
2        dfps
3        dfps
4        dfps
         ...
51285    dfps
51286    dfps
51287    dfps
51288    dfps
51289    dfps
Name: n__col, Length: 51290, dtype: object

In [40]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408,2,0.0,106.1400,35.46,Medium,2011
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.0360,9.72,Medium,2011
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66,4,0.0,29.6400,8.17,High,2011
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.0550,4.82,High,2011
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.7700,4.70,Medium,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,2,0.2,4.5188,0.89,Medium,2014
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-Dra,Morocco,Africa,Africa,...,Office Supplies,Binders,"Wilson Jones Hole Reinforcements, Clear",4,1,0.0,0.4200,0.49,Medium,2014
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Office Supplies,Labels,"Hon Color Coded Labels, 5000 Label Set",26,3,0.0,12.3600,0.35,Medium,2014
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Office Supplies,Labels,"Hon Legal Exhibit Labels, Alphabetical",7,1,0.0,0.5600,0.20,Medium,2014
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Office Supplies,Fasteners,Bagged Rubber Bands,3,3,0.2,-0.6048,0.17,Medium,2014

In [41]:
df.drop('n__col',axis=1,inplace=True)

KeyError: "['n__col'] not found in axis"

In [49]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408.0,2,0.0,106.1400,35.46,Medium,2011
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120.0,3,0.1,36.0360,9.72,Medium,2011
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66.0,4,0.0,29.6400,8.17,High,2011
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45.0,3,0.5,-26.0550,4.82,High,2011
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114.0,5,0.1,37.7700,4.70,Medium,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14.0,2,0.2,4.5188,0.89,Medium,2014
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-Dra,Morocco,Africa,Africa,...,Office Supplies,Binders,"Wilson Jones Hole Reinforcements, Clear",4.0,1,0.0,0.4200,0.49,Medium,2014
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Office Supplies,Labels,"Hon Color Coded Labels, 5000 Label Set",26.0,3,0.0,12.3600,0.35,Medium,2014
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Office Supplies,Labels,"Hon Legal Exhibit Labels, Alphabetical",7.0,1,0.0,0.5600,0.20,Medium,2014
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Office Supplies,Fasteners,Bagged Rubber Bands,3.0,3,0.2,-0.6048,0.17,Medium,2014

In [50]:
df.drop(columns="n__col",inplace=True)

KeyError: "['n__col'] not found in axis"

In [51]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408.0,2,0.0,106.1400,35.46,Medium,2011
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120.0,3,0.1,36.0360,9.72,Medium,2011
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66.0,4,0.0,29.6400,8.17,High,2011
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45.0,3,0.5,-26.0550,4.82,High,2011
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114.0,5,0.1,37.7700,4.70,Medium,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14.0,2,0.2,4.5188,0.89,Medium,2014
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-Dra,Morocco,Africa,Africa,...,Office Supplies,Binders,"Wilson Jones Hole Reinforcements, Clear",4.0,1,0.0,0.4200,0.49,Medium,2014
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Office Supplies,Labels,"Hon Color Coded Labels, 5000 Label Set",26.0,3,0.0,12.3600,0.35,Medium,2014
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Office Supplies,Labels,"Hon Legal Exhibit Labels, Alphabetical",7.0,1,0.0,0.5600,0.20,Medium,2014
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Office Supplies,Fasteners,Bagged Rubber Bands,3.0,3,0.2,-0.6048,0.17,Medium,2014

In [52]:
df.drop(1)

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408.0,2,0.0,106.1400,35.46,Medium,2011
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66.0,4,0.0,29.6400,8.17,High,2011
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45.0,3,0.5,-26.0550,4.82,High,2011
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114.0,5,0.1,37.7700,4.70,Medium,2011
5,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",55.0,2,0.1,15.3420,1.80,Medium,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14.0,2,0.2,4.5188,0.89,Medium,2014
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-Dra,Morocco,Africa,Africa,...,Office Supplies,Binders,"Wilson Jones Hole Reinforcements, Clear",4.0,1,0.0,0.4200,0.49,Medium,2014
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Office Supplies,Labels,"Hon Color Coded Labels, 5000 Label Set",26.0,3,0.0,12.3600,0.35,Medium,2014
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Office Supplies,Labels,"Hon Legal Exhibit Labels, Alphabetical",7.0,1,0.0,0.5600,0.20,Medium,2014
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Office Supplies,Fasteners,Bagged Rubber Bands,3.0,3,0.2,-0.6048,0.17,Medium,2014

In [53]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408.0,2,0.0,106.1400,35.46,Medium,2011
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120.0,3,0.1,36.0360,9.72,Medium,2011
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66.0,4,0.0,29.6400,8.17,High,2011
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45.0,3,0.5,-26.0550,4.82,High,2011
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114.0,5,0.1,37.7700,4.70,Medium,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14.0,2,0.2,4.5188,0.89,Medium,2014
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-Dra,Morocco,Africa,Africa,...,Office Supplies,Binders,"Wilson Jones Hole Reinforcements, Clear",4.0,1,0.0,0.4200,0.49,Medium,2014
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Office Supplies,Labels,"Hon Color Coded Labels, 5000 Label Set",26.0,3,0.0,12.3600,0.35,Medium,2014
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Office Supplies,Labels,"Hon Legal Exhibit Labels, Alphabetical",7.0,1,0.0,0.5600,0.20,Medium,2014
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Office Supplies,Fasteners,Bagged Rubber Bands,3.0,3,0.2,-0.6048,0.17,Medium,2014

In [54]:
df.drop(df[df.segment=='Corporate'].index)

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408.0,2,0.0,106.1400,35.46,Medium,2011
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120.0,3,0.1,36.0360,9.72,Medium,2011
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66.0,4,0.0,29.6400,8.17,High,2011
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45.0,3,0.5,-26.0550,4.82,High,2011
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114.0,5,0.1,37.7700,4.70,Medium,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51284,MX-2014-108574,12/31/2014,1/4/2015,Standard Class,Julia Barnett,Home Office,Tamaulipas,Mexico,LATAM,North,...,Office Supplies,Labels,"Novimex Legal Exhibit Labels, Adjustable",17.0,3,0.0,0.6600,1.32,Medium,2014
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-Dra,Morocco,Africa,Africa,...,Office Supplies,Binders,"Wilson Jones Hole Reinforcements, Clear",4.0,1,0.0,0.4200,0.49,Medium,2014
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Office Supplies,Labels,"Hon Color Coded Labels, 5000 Label Set",26.0,3,0.0,12.3600,0.35,Medium,2014
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Office Supplies,Labels,"Hon Legal Exhibit Labels, Alphabetical",7.0,1,0.0,0.5600,0.20,Medium,2014
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Office Supplies,Fasteners,Bagged Rubber Bands,3.0,3,0.2,-0.6048,0.17,Medium,2014

In [55]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408.0,2,0.0,106.1400,35.46,Medium,2011
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120.0,3,0.1,36.0360,9.72,Medium,2011
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66.0,4,0.0,29.6400,8.17,High,2011
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45.0,3,0.5,-26.0550,4.82,High,2011
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114.0,5,0.1,37.7700,4.70,Medium,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14.0,2,0.2,4.5188,0.89,Medium,2014
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-Dra,Morocco,Africa,Africa,...,Office Supplies,Binders,"Wilson Jones Hole Reinforcements, Clear",4.0,1,0.0,0.4200,0.49,Medium,2014
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Office Supplies,Labels,"Hon Color Coded Labels, 5000 Label Set",26.0,3,0.0,12.3600,0.35,Medium,2014
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Office Supplies,Labels,"Hon Legal Exhibit Labels, Alphabetical",7.0,1,0.0,0.5600,0.20,Medium,2014
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Office Supplies,Fasteners,Bagged Rubber Bands,3.0,3,0.2,-0.6048,0.17,Medium,2014

In [56]:
df1=pd.read_csv(r'D:\backup\fsds_pandas\DressSales.csv')

In [57]:
df1

,Dress_ID,29/8/2013,31/8/2013,2/9/2013,4/9/2013,6/9/2013,8/9/2013,10/9/2013,12/9/2013,14/9/2013,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1212192089,151,275,570,750,813,1066,1164,1558,1756,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1190380701,6,7,7,7,8,8,9,10,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,0,0,0,560,554,544,537,525,519,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,722565148,0,0,0,875,866,861,854,850,844,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,532874347,0,0,0,734,728,726,715,694,690,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,655464934,0,0,0,254,259,261,263,268,270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,919930954,0,0,0,538,545,558,563,578,585,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
df.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year'],
      dtype='object')

In [59]:
df[df.profit==max(df.profit)]['customer_name']

29530    Tamara Chand
Name: customer_name, dtype: object

In [60]:
df['customer_name'][df.profit==max(df.profit)]

29530    Tamara Chand
Name: customer_name, dtype: object

In [61]:
df.customer_name[df.profit==max(df.profit)]

29530    Tamara Chand
Name: customer_name, dtype: object

In [62]:
df[df.profit==max(df.profit)].customer_name

29530    Tamara Chand
Name: customer_name, dtype: object

In [63]:
df[df.country=='Sweden']

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45.0,3,0.5,-26.055,4.82,High,2011
168,IT-2011-5951216,1/13/2011,1/20/2011,Standard Class,Stuart Calhoun,Consumer,Vstra Gtaland,Sweden,EU,North,...,Office Supplies,Art,"Sanford Pens, Fluorescent",31.0,5,0.5,-13.650,2.16,Medium,2011
477,IT-2011-5645183,2/3/2011,2/5/2011,Second Class,Max Ludwig,Home Office,Uppsala,Sweden,EU,North,...,Office Supplies,Art,"Boston Pencil Sharpener, Easy-Erase",91.0,6,0.5,-61.650,6.64,Medium,2011
1342,IT-2011-5233011,3/31/2011,4/6/2011,Standard Class,Todd Sumrall,Corporate,Vstra Gtaland,Sweden,EU,North,...,Furniture,Furnishings,"Advantus Photo Frame, Durable",40.0,2,0.6,-44.052,2.78,Medium,2011
1554,IT-2011-2419493,4/12/2011,4/13/2011,First Class,Alice McCarthy,Corporate,Stockholm,Sweden,EU,North,...,Technology,Phones,"Nokia Headset, VoIP",73.0,2,0.5,-11.760,22.18,High,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50948,IT-2014-5217096,12/26/2014,12/31/2014,Standard Class,Trudy Glocke,Consumer,Stockholm,Sweden,EU,North,...,Technology,Accessories,"Belkin Flash Drive, Bluetooth",21.0,1,0.5,-5.460,0.98,Medium,2014
50949,IT-2014-5217096,12/26/2014,12/31/2014,Standard Class,Trudy Glocke,Consumer,Stockholm,Sweden,EU,North,...,Furniture,Furnishings,"Advantus Photo Frame, Durable",20.0,1,0.6,-22.026,0.98,Medium,2014
50972,IT-2014-4046179,12/27/2014,12/30/2014,Second Class,Jeremy Farry,Consumer,Stockholm,Sweden,EU,North,...,Office Supplies,Appliances,"KitchenAid Refrigerator, Black",NaN,6,0.5,-443.070,55.39,Medium,2014
51086,IT-2014-2362249,12/29/2014,1/1/2015,First Class,Mitch Gastineau,Corporate,Stockholm,Sweden,EU,North,...,Office Supplies,Art,"BIC Pens, Fluorescent",31.0,4,0.5,-10.680,8.44,High,2014
51121,IT-2014-2362249,12/29/2014,1/1/2015,First Class,Mitch Gastineau,Corporate,Stockholm,Sweden,EU,North,...,Office Supplies,Art,"Sanford Highlighters, Blue",8.0,1,0.5,-6.165,2.00,High,2014

In [64]:
len(df[df.country=='Sweden'])

203

In [65]:
len(df[df.shipping_cost>900])

5

In [66]:
len(df)

51290

In [67]:
df[df.shipping_cost>900].country

13891    United States
20543          Germany
20727        Australia
30040        Australia
30718          Senegal
Name: country, dtype: object

In [68]:
df[(df.shipping_cost>100) & (df.profit<10)]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
8,ID-2011-80230,1/3/2011,1/9/2011,Standard Class,Ken Lonsdale,Consumer,Auckland,New Zealand,APAC,Oceania,...,Technology,Copiers,"Hewlett Wireless Fax, Laser",912.0,4,0.40,-319.464,107.10,Low,2011
257,MX-2011-146584,1/21/2011,1/27/2011,Standard Class,Hunter Lopez,Consumer,Managua,Nicaragua,LATAM,Central,...,Furniture,Tables,"Chromcraft Conference Table, Fully Assembled",NaN,6,0.20,-0.072,320.38,Low,2011
451,ES-2011-1640672,2/2/2011,2/5/2011,First Class,Ken Heidel,Corporate,Saxony,Germany,EU,Central,...,Technology,Phones,"Motorola Signal Booster, Cordless",584.0,8,0.50,-58.560,109.14,High,2011
625,ID-2011-47575,2/15/2011,2/21/2011,Standard Class,Christopher Martinez,Consumer,National Capital,Philippines,APAC,Southeast Asia,...,Technology,Phones,"Nokia Signal Booster, with Caller ID",921.0,9,0.25,-172.125,128.01,Low,2011
626,ID-2011-47575,2/15/2011,2/21/2011,Standard Class,Christopher Martinez,Consumer,National Capital,Philippines,APAC,Southeast Asia,...,Technology,Copiers,"Brother Fax Machine, High-Speed",NaN,6,0.35,-456.174,118.63,Low,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50781,CA-2014-147956,12/25/2014,1/1/2015,Standard Class,Alan Hwang,Consumer,Washington,United States,US,West,...,Office Supplies,Storage,Office Impressions Heavy Duty Welded Shelving ...,NaN,6,0.00,0.000,121.83,Low,2014
50969,US-2014-120166,12/27/2014,12/31/2014,Standard Class,Frank Hawley,Corporate,Valle del Cauca,Colombia,LATAM,South,...,Furniture,Tables,"Barricks Training Table, Rectangular",842.0,5,0.20,-200.080,120.11,High,2014
50970,ES-2014-4296634,12/27/2014,1/2/2015,Standard Class,Harry Marie,Corporate,Brittany,France,EU,Central,...,Office Supplies,Appliances,"Hamilton Beach Microwave, White",NaN,4,0.10,-44.940,108.27,Low,2014
51034,ID-2014-68183,12/29/2014,12/31/2014,First Class,Adam Hart,Corporate,Victoria,Australia,APAC,Oceania,...,Office Supplies,Appliances,"Hoover Stove, Red",NaN,3,0.10,-102.411,255.42,Medium,2014
51153,ID-2014-51509,12/30/2014,1/1/2015,Second Class,Naresj Patel,Consumer,Australian Capital Territory,Australia,APAC,Oceania,...,Furniture,Chairs,"Harbour Creations Rocking Chair, Black",434.0,5,0.40,-166.470,124.63,Critical,2014

In [69]:
df['year']=pd.to_datetime(df['order_date']).dt.year

In [70]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408.0,2,0.0,106.1400,35.46,Medium,2011
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120.0,3,0.1,36.0360,9.72,Medium,2011
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66.0,4,0.0,29.6400,8.17,High,2011
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45.0,3,0.5,-26.0550,4.82,High,2011
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114.0,5,0.1,37.7700,4.70,Medium,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14.0,2,0.2,4.5188,0.89,Medium,2014
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-Dra,Morocco,Africa,Africa,...,Office Supplies,Binders,"Wilson Jones Hole Reinforcements, Clear",4.0,1,0.0,0.4200,0.49,Medium,2014
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Office Supplies,Labels,"Hon Color Coded Labels, 5000 Label Set",26.0,3,0.0,12.3600,0.35,Medium,2014
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Office Supplies,Labels,"Hon Legal Exhibit Labels, Alphabetical",7.0,1,0.0,0.5600,0.20,Medium,2014
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Office Supplies,Fasteners,Bagged Rubber Bands,3.0,3,0.2,-0.6048,0.17,Medium,2014

In [71]:
df.dtypes

order_id           object
order_date         object
ship_date          object
ship_mode          object
customer_name      object
segment            object
state              object
country            object
market             object
region             object
product_id         object
category           object
sub_category       object
product_name       object
sales             float64
quantity            int64
discount          float64
profit            float64
shipping_cost     float64
order_priority     object
year                int64
dtype: object

In [72]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408.0,2,0.0,106.1400,35.46,Medium,2011
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120.0,3,0.1,36.0360,9.72,Medium,2011
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66.0,4,0.0,29.6400,8.17,High,2011
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45.0,3,0.5,-26.0550,4.82,High,2011
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114.0,5,0.1,37.7700,4.70,Medium,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14.0,2,0.2,4.5188,0.89,Medium,2014
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-Dra,Morocco,Africa,Africa,...,Office Supplies,Binders,"Wilson Jones Hole Reinforcements, Clear",4.0,1,0.0,0.4200,0.49,Medium,2014
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Office Supplies,Labels,"Hon Color Coded Labels, 5000 Label Set",26.0,3,0.0,12.3600,0.35,Medium,2014
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Office Supplies,Labels,"Hon Legal Exhibit Labels, Alphabetical",7.0,1,0.0,0.5600,0.20,Medium,2014
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Office Supplies,Fasteners,Bagged Rubber Bands,3.0,3,0.2,-0.6048,0.17,Medium,2014

In [73]:
df['month']=pd.to_datetime(df['order_date']).dt.month

In [74]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,month
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Storage,"Tenex Lockers, Blue",408.0,2,0.0,106.1400,35.46,Medium,2011,1
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Supplies,"Acme Trimmer, High Speed",120.0,3,0.1,36.0360,9.72,Medium,2011,1
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Storage,"Tenex Box, Single Width",66.0,4,0.0,29.6400,8.17,High,2011,1
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Paper,"Enermax Note Cards, Premium",45.0,3,0.5,-26.0550,4.82,High,2011,1
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furnishings,"Eldon Light Bulb, Duo Pack",114.0,5,0.1,37.7700,4.70,Medium,2011,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14.0,2,0.2,4.5188,0.89,Medium,2014,12
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-Dra,Morocco,Africa,Africa,...,Binders,"Wilson Jones Hole Reinforcements, Clear",4.0,1,0.0,0.4200,0.49,Medium,2014,12
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Labels,"Hon Color Coded Labels, 5000 Label Set",26.0,3,0.0,12.3600,0.35,Medium,2014,12
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Labels,"Hon Legal Exhibit Labels, Alphabetical",7.0,1,0.0,0.5600,0.20,Medium,2014,12
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Fasteners,Bagged Rubber Bands,3.0,3,0.2,-0.6048,0.17,Medium,2014,12

In [75]:
df.month.value_counts()

11    6342
12    6302
9     5975
6     5331
8     5078
10    4490
5     3747
7     3166
4     3057
3     3035
1     2599
2     2168
Name: month, dtype: int64

In [76]:
df.groupby('month').count()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
month,,,,,,,,,,,,,,,,,,,,,
1,2599,2599,2599,2599,2599,2599,2599,2599,2599,2599,...,2599,2599,2599,2447,2599,2599,2599,2599,2599,2599
2,2168,2168,2168,2168,2168,2168,2168,2168,2168,2168,...,2168,2168,2168,2060,2168,2168,2168,2168,2168,2168
3,3035,3035,3035,3035,3035,3035,3035,3035,3035,3035,...,3035,3035,3035,2888,3035,3035,3035,3035,3035,3035
4,3057,3057,3057,3057,3057,3057,3057,3057,3057,3057,...,3057,3057,3057,2921,3057,3057,3057,3057,3057,3057
5,3747,3747,3747,3747,3747,3747,3747,3747,3747,3747,...,3747,3747,3747,3548,3747,3747,3747,3747,3747,3747
6,5331,5331,5331,5331,5331,5331,5331,5331,5331,5331,...,5331,5331,5331,5074,5331,5331,5331,5331,5331,5331
7,3166,3166,3166,3166,3166,3166,3166,3166,3166,3166,...,3166,3166,3166,3017,3166,3166,3166,3166,3166,3166
8,5078,5078,5078,5078,5078,5078,5078,5078,5078,5078,...,5078,5078,5078,4793,5078,5078,5078,5078,5078,5078
9,5975,5975,5975,5975,5975,5975,5975,5975,5975,5975,...,5975,5975,5975,5675,5975,5975,5975,5975,5975,5975
10,4490,4490,4490,4490,4490,4490,4490,4490,4490,4490,...,4490,4490,4490,4246,4490,4490,4490,4490,4490,4490
11,6342,6342,6342,6342,6342,6342,6342,6342,6342,6342,...,6342,6342,6342,6042,6342,6342,6342,6342,6342,6342
12,6302,6302,6302,6302,6302,6302,6302,6302,6302,6302,...,6302,6302,6302,5949,6302,6302,6302,6302,6302,6302

In [77]:
df['ctc']=df['discount']+df['shipping_cost']

In [78]:
df.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year',
       'month', 'ctc'],
      dtype='object')

In [79]:
df[df.ctc==max(df.ctc)]['product_id']

13891    TEC-AC-10003033
Name: product_id, dtype: object

In [80]:
df.drop('ctc',axis=1)

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,month
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Storage,"Tenex Lockers, Blue",408.0,2,0.0,106.1400,35.46,Medium,2011,1
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Supplies,"Acme Trimmer, High Speed",120.0,3,0.1,36.0360,9.72,Medium,2011,1
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Storage,"Tenex Box, Single Width",66.0,4,0.0,29.6400,8.17,High,2011,1
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Paper,"Enermax Note Cards, Premium",45.0,3,0.5,-26.0550,4.82,High,2011,1
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furnishings,"Eldon Light Bulb, Duo Pack",114.0,5,0.1,37.7700,4.70,Medium,2011,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14.0,2,0.2,4.5188,0.89,Medium,2014,12
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-Dra,Morocco,Africa,Africa,...,Binders,"Wilson Jones Hole Reinforcements, Clear",4.0,1,0.0,0.4200,0.49,Medium,2014,12
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Labels,"Hon Color Coded Labels, 5000 Label Set",26.0,3,0.0,12.3600,0.35,Medium,2014,12
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Labels,"Hon Legal Exhibit Labels, Alphabetical",7.0,1,0.0,0.5600,0.20,Medium,2014,12
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Fasteners,Bagged Rubber Bands,3.0,3,0.2,-0.6048,0.17,Medium,2014,12

In [81]:
df.loc[0:4,['order_id','ship_mode']]

          order_id       ship_mode
0     AG-2011-2040  Standard Class
1    IN-2011-47883  Standard Class
2     HU-2011-1220    Second Class
3  IT-2011-3647632    Second Class
4    IN-2011-47883  Standard Class

In [82]:
df.iloc[0:5,0:3]

          order_id order_date ship_date
0     AG-2011-2040   1/1/2011  1/6/2011
1    IN-2011-47883   1/1/2011  1/8/2011
2     HU-2011-1220   1/1/2011  1/5/2011
3  IT-2011-3647632   1/1/2011  1/5/2011
4    IN-2011-47883   1/1/2011  1/8/2011

In [83]:
df2=df[df.dtypes[(df.dtypes=='int') | (df.dtypes=='float')].index]

In [84]:
df2

       sales  discount    profit  shipping_cost    ctc
0      408.0       0.0  106.1400          35.46  35.46
1      120.0       0.1   36.0360           9.72   9.82
2       66.0       0.0   29.6400           8.17   8.17
3       45.0       0.5  -26.0550           4.82   5.32
4      114.0       0.1   37.7700           4.70   4.80
...      ...       ...       ...            ...    ...
51285   14.0       0.2    4.5188           0.89   1.09
51286    4.0       0.0    0.4200           0.49   0.49
51287   26.0       0.0   12.3600           0.35   0.35
51288    7.0       0.0    0.5600           0.20   0.20
51289    3.0       0.2   -0.6048           0.17   0.37

[51290 rows x 5 columns]

In [85]:
df3=df2[df2>10]

In [86]:
df3

       sales  discount   profit  shipping_cost    ctc
0      408.0       NaN  106.140          35.46  35.46
1      120.0       NaN   36.036            NaN    NaN
2       66.0       NaN   29.640            NaN    NaN
3       45.0       NaN      NaN            NaN    NaN
4      114.0       NaN   37.770            NaN    NaN
...      ...       ...      ...            ...    ...
51285   14.0       NaN      NaN            NaN    NaN
51286    NaN       NaN      NaN            NaN    NaN
51287   26.0       NaN   12.360            NaN    NaN
51288    NaN       NaN      NaN            NaN    NaN
51289    NaN       NaN      NaN            NaN    NaN

[51290 rows x 5 columns]

In [87]:
df3.dropna(thresh=3,inplace=True)

In [88]:
df3

       sales  discount    profit  shipping_cost     ctc
0      408.0       NaN  106.1400          35.46   35.46
6      314.0       NaN       NaN          24.10   24.10
7      276.0       NaN  110.4120         125.32  125.42
8      912.0       NaN       NaN         107.10  107.50
9      667.0       NaN  253.3200          81.26   81.26
...      ...       ...       ...            ...     ...
51250  294.0       NaN   88.4208          13.57   13.74
51251  155.0       NaN   40.7520          12.75   12.95
51252  378.0       NaN  166.4400          11.71   11.71
51253  127.0       NaN   20.1600          11.50   11.50
51254  135.0       NaN   17.5800          10.93   10.93

[22178 rows x 5 columns]

In [107]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,month,ctc
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,"Tenex Lockers, Blue",408.0,2,0.0,106.1400,35.46,Medium,2011,1,35.46
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,"Acme Trimmer, High Speed",120.0,3,0.1,36.0360,9.72,Medium,2011,1,9.82
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,"Tenex Box, Single Width",66.0,4,0.0,29.6400,8.17,High,2011,1,8.17
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,"Enermax Note Cards, Premium",45.0,3,0.5,-26.0550,4.82,High,2011,1,5.32
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,"Eldon Light Bulb, Duo Pack",114.0,5,0.1,37.7700,4.70,Medium,2011,1,4.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14.0,2,0.2,4.5188,0.89,Medium,2014,12,1.09
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-Dra,Morocco,Africa,Africa,...,"Wilson Jones Hole Reinforcements, Clear",4.0,1,0.0,0.4200,0.49,Medium,2014,12,0.49
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,"Hon Color Coded Labels, 5000 Label Set",26.0,3,0.0,12.3600,0.35,Medium,2014,12,0.35
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,"Hon Legal Exhibit Labels, Alphabetical",7.0,1,0.0,0.5600,0.20,Medium,2014,12,0.20
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Bagged Rubber Bands,3.0,3,0.2,-0.6048,0.17,Medium,2014,12,0.37

In [108]:
df.groupby('year')['profit'].mean()

year
2011    27.666238
2012    28.043722
2013    29.604519
2014    28.758540
Name: profit, dtype: float64

In [127]:
df['sales']=pd.to_numeric(df['sales'],errors="coerce")

In [128]:
df.dtypes

order_id           object
order_date         object
ship_date          object
ship_mode          object
customer_name      object
segment            object
state              object
country            object
market             object
region             object
product_id         object
category           object
sub_category       object
product_name       object
sales             float64
quantity            int64
discount          float64
profit            float64
shipping_cost     float64
order_priority     object
year                int64
dtype: object

In [129]:
df.loc[27]

order_id                        MX-2011-111255
order_date                            1/4/2011
ship_date                             1/9/2011
ship_mode                         Second Class
customer_name                Russell Applegate
segment                               Consumer
state                                   Parana
country                                 Brazil
market                                   LATAM
region                                   South
product_id                     FUR-BO-10001498
category                             Furniture
sub_category                         Bookcases
product_name      Dania Classic Bookcase, Pine
sales                                      NaN
quantity                                     6
discount                                   0.0
profit                                  609.84
shipping_cost                           109.13
order_priority                          Medium
year                                      2011
Name: 27, dtype: object

In [130]:
df.sales.fillna(value=df.sales.mean(), inplace=True)

In [131]:
df.dtypes

order_id           object
order_date         object
ship_date          object
ship_mode          object
customer_name      object
segment            object
state              object
country            object
market             object
region             object
product_id         object
category           object
sub_category       object
product_name       object
sales             float64
quantity            int64
discount          float64
profit            float64
shipping_cost     float64
order_priority     object
year                int64
dtype: object

In [132]:
df.loc[27]

order_id                        MX-2011-111255
order_date                            1/4/2011
ship_date                             1/9/2011
ship_mode                         Second Class
customer_name                Russell Applegate
segment                               Consumer
state                                   Parana
country                                 Brazil
market                                   LATAM
region                                   South
product_id                     FUR-BO-10001498
category                             Furniture
sub_category                         Bookcases
product_name      Dania Classic Bookcase, Pine
sales                               161.017838
quantity                                     6
discount                                   0.0
profit                                  609.84
shipping_cost                           109.13
order_priority                          Medium
year                                      2011
Name: 27, dtype: object

In [135]:
df4=df[df.dtypes[(df.dtypes=='int') | (df.dtypes=='float')].index]

In [142]:
df6=df4[df4>100]

In [143]:
df6['sales'].mean()

305.8528116591494

In [146]:
df6['sales'].fillna(value=df6['sales'].mean(),inplace=True)

In [147]:
df6

            sales  discount  profit  shipping_cost
0      408.000000       NaN  106.14            NaN
1      120.000000       NaN     NaN            NaN
2      305.852812       NaN     NaN            NaN
3      305.852812       NaN     NaN            NaN
4      114.000000       NaN     NaN            NaN
...           ...       ...     ...            ...
51285  305.852812       NaN     NaN            NaN
51286  305.852812       NaN     NaN            NaN
51287  305.852812       NaN     NaN            NaN
51288  305.852812       NaN     NaN            NaN
51289  305.852812       NaN     NaN            NaN

[51290 rows x 4 columns]

In [148]:
df6.fillna(value=df4.sales.mean(),inplace=True)

In [149]:
df6

            sales    discount      profit  shipping_cost
0      408.000000  161.017838  106.140000     161.017838
1      120.000000  161.017838  161.017838     161.017838
2      305.852812  161.017838  161.017838     161.017838
3      305.852812  161.017838  161.017838     161.017838
4      114.000000  161.017838  161.017838     161.017838
...           ...         ...         ...            ...
51285  305.852812  161.017838  161.017838     161.017838
51286  305.852812  161.017838  161.017838     161.017838
51287  305.852812  161.017838  161.017838     161.017838
51288  305.852812  161.017838  161.017838     161.017838
51289  305.852812  161.017838  161.017838     161.017838

[51290 rows x 4 columns]

In [150]:
df.groupby('year')['profit'].mean()

year
2011    27.666238
2012    28.043722
2013    29.604519
2014    28.758540
Name: profit, dtype: float64

In [151]:
data4={
    'emp_id':[101,102,103,104],
    'salary':[234,452,333,523],
    'pf':[23,41,47,34]
}

In [152]:
data5={
    'emp_id':[101,102,104,105],
    'mob_no':[1234,452,2345,4232],
    'house_no':[123,343,465,462]
}

In [153]:
data1= {'pf_nu' : [234,45,54465,656],
        'income_tax' : [234,565,767,6778],
        'mobile_no' : [23543,43543,454,5656],
        'courses' : ['ds' , 'bigdata' , 'web dev ' , 'blockchian']}

In [154]:
data2 = {'0' : ['sudh' , 'krish' , 'hitesh' , 'tulesko'],
        '1' : [100 , 200 , 300 , 400],
        '2' : ['sudh@ineuron.ai' , 'krish@ineuron.ai' , 'hitesh@ineuron.ai' , 'tulesko@ineuron.ai'],
        '3' : ['blr' , 'blr' , 'blr' , 'mum']
    }

In [155]:
data3= {'0' : [234,45,54465,656],
        '1' : [234,565,767,6778],
        '2' : [23543,43543,454,5656],
        '3' : ['ds' , 'bigdata' , 'web dev ' , 'blockchian']}

In [164]:
df1=pd.DataFrame(data1)

In [167]:
df1

   pf_nu  income_tax  mobile_no     courses
0    234         234      23543          ds
1     45         565      43543     bigdata
2  54465         767        454    web dev
3    656        6778       5656  blockchian

In [157]:
df2=pd.DataFrame(data2)

In [168]:
df2

         0    1                   2    3
0     sudh  100     sudh@ineuron.ai  blr
1    krish  200    krish@ineuron.ai  blr
2   hitesh  300   hitesh@ineuron.ai  blr
3  tulesko  400  tulesko@ineuron.ai  mum

In [158]:
df3=pd.DataFrame(data3)

In [169]:
df3

       0     1      2           3
0    234   234  23543          ds
1     45   565  43543     bigdata
2  54465   767    454    web dev
3    656  6778   5656  blockchian

In [159]:
df4=pd.DataFrame(data4)

In [170]:
df4

   emp_id  salary  pf
0     101     234  23
1     102     452  41
2     103     333  47
3     104     523  34

In [160]:
df5=pd.DataFrame(data5)

In [171]:
df5

   emp_id  mob_no  house_no
0     101    1234       123
1     102     452       343
2     104    2345       465
3     105    4232       462

In [186]:
pd.merge(df4,df5,how='outer',on='emp_id')

   emp_id  salary    pf  mob_no  house_no
0     101   234.0  23.0  1234.0     123.0
1     102   452.0  41.0   452.0     343.0
2     103   333.0  47.0     NaN       NaN
3     104   523.0  34.0  2345.0     465.0
4     105     NaN   NaN  4232.0     462.0

In [172]:
pd.concat([df1,df2])

,pf_nu,income_tax,mobile_no,courses,0,1,2,3
0,234.0,234.0,23543.0,ds,NaN,NaN,NaN,NaN
1,45.0,565.0,43543.0,bigdata,NaN,NaN,NaN,NaN
2,54465.0,767.0,454.0,web dev,NaN,NaN,NaN,NaN
3,656.0,6778.0,5656.0,blockchian,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,sudh,100.0,sudh@ineuron.ai,blr
1,NaN,NaN,NaN,NaN,krish,200.0,krish@ineuron.ai,blr
2,NaN,NaN,NaN,NaN,hitesh,300.0,hitesh@ineuron.ai,blr
3,NaN,NaN,NaN,NaN,tulesko,400.0,tulesko@ineuron.ai,mum

In [166]:
pd.concat([df1,df2],axis=1)

,pf_nu,income_tax,mobile_no,courses,0,1,2,3
0,234,234,23543,ds,sudh,100,sudh@ineuron.ai,blr
1,45,565,43543,bigdata,krish,200,krish@ineuron.ai,blr
2,54465,767,454,web dev,hitesh,300,hitesh@ineuron.ai,blr
3,656,6778,5656,blockchian,tulesko,400,tulesko@ineuron.ai,mum

In [173]:
pd.concat([df2,df3])

         0     1                   2           3
0     sudh   100     sudh@ineuron.ai         blr
1    krish   200    krish@ineuron.ai         blr
2   hitesh   300   hitesh@ineuron.ai         blr
3  tulesko   400  tulesko@ineuron.ai         mum
0      234   234               23543          ds
1       45   565               43543     bigdata
2    54465   767                 454    web dev
3      656  6778                5656  blockchian

In [174]:
pd.concat([df2,df3],axis=1)

         0    1                   2    3      0     1      2           3
0     sudh  100     sudh@ineuron.ai  blr    234   234  23543          ds
1    krish  200    krish@ineuron.ai  blr     45   565  43543     bigdata
2   hitesh  300   hitesh@ineuron.ai  blr  54465   767    454    web dev
3  tulesko  400  tulesko@ineuron.ai  mum    656  6778   5656  blockchian

In [181]:
pd.merge(df4,df5,how='right',on='emp_id')

   emp_id  salary    pf  mob_no  house_no
0     101   234.0  23.0    1234       123
1     102   452.0  41.0     452       343
2     104   523.0  34.0    2345       465
3     105     NaN   NaN    4232       462

In [183]:
pd.merge(df4,df5,how='right',left_on='emp_id',right_on='emp_id')

   emp_id  salary    pf  mob_no  house_no
0     101   234.0  23.0    1234       123
1     102   452.0  41.0     452       343
2     104   523.0  34.0    2345       465
3     105     NaN   NaN    4232       462

In [185]:
pd.merge(df4,df5,on=['emp_id','emp_id'])

   emp_id  salary  pf  mob_no  house_no
0     101     234  23    1234       123
1     102     452  41     452       343
2     104     523  34    2345       465

In [188]:
data8={
    'emp_id':[101,102,103,104],
    'salary':[234,452,333,523],
    'pf':[23,41,47,34]
}

data9={
    'emp_id1':[101,102,104,105,123],
    'salary1':[1234,452,2345,4232,43],
    'house_no':[123,343,465,462,234]
}

In [193]:
df8=pd.DataFrame(data8,index=['a','b','c','d'])

In [194]:
df9=pd.DataFrame(data9,index=['a','b','d','e','f'])

In [196]:
df9.join(df8,how='left')

   emp_id1  salary1  house_no  emp_id  salary    pf
a      101     1234       123   101.0   234.0  23.0
b      102      452       343   102.0   452.0  41.0
d      104     2345       465   104.0   523.0  34.0
e      105     4232       462     NaN     NaN   NaN
f      123       43       234     NaN     NaN   NaN

In [197]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408.0,2,0.0,106.1400,35.46,Medium,2011
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120.0,3,0.1,36.0360,9.72,Medium,2011
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66.0,4,0.0,29.6400,8.17,High,2011
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45.0,3,0.5,-26.0550,4.82,High,2011
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114.0,5,0.1,37.7700,4.70,Medium,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14.0,2,0.2,4.5188,0.89,Medium,2014
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-Dra,Morocco,Africa,Africa,...,Office Supplies,Binders,"Wilson Jones Hole Reinforcements, Clear",4.0,1,0.0,0.4200,0.49,Medium,2014
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Office Supplies,Labels,"Hon Color Coded Labels, 5000 Label Set",26.0,3,0.0,12.3600,0.35,Medium,2014
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Office Supplies,Labels,"Hon Legal Exhibit Labels, Alphabetical",7.0,1,0.0,0.5600,0.20,Medium,2014
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Office Supplies,Fasteners,Bagged Rubber Bands,3.0,3,0.2,-0.6048,0.17,Medium,2014

In [198]:
def flag(a):
    if a>=0:
        return 'positive'
    else:
        return 'negative'

In [199]:
df['profit_flag']=df.profit.apply(flag)

In [201]:
df.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,profit_flag
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Storage,"Tenex Lockers, Blue",408.0,2,0.0,106.140,35.46,Medium,2011,positive
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Supplies,"Acme Trimmer, High Speed",120.0,3,0.1,36.036,9.72,Medium,2011,positive
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Storage,"Tenex Box, Single Width",66.0,4,0.0,29.640,8.17,High,2011,positive
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Paper,"Enermax Note Cards, Premium",45.0,3,0.5,-26.055,4.82,High,2011,negative
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furnishings,"Eldon Light Bulb, Duo Pack",114.0,5,0.1,37.770,4.70,Medium,2011,positive

In [223]:
df.groupby('profit_flag')['profit_flag'].value_counts()

profit_flag  profit_flag
negative     negative       12543
positive     positive       38747
Name: profit_flag, dtype: int64

In [217]:
df['sqr']=df['shipping_cost'].apply(lambda a:a**2)

In [218]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,profit_flag,sqr
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,"Tenex Lockers, Blue",408.0,2,0.0,106.1400,35.46,Medium,2011,positive,1257.4116
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,"Acme Trimmer, High Speed",120.0,3,0.1,36.0360,9.72,Medium,2011,positive,94.4784
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,"Tenex Box, Single Width",66.0,4,0.0,29.6400,8.17,High,2011,positive,66.7489
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,"Enermax Note Cards, Premium",45.0,3,0.5,-26.0550,4.82,High,2011,negative,23.2324
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,"Eldon Light Bulb, Duo Pack",114.0,5,0.1,37.7700,4.70,Medium,2011,positive,22.0900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14.0,2,0.2,4.5188,0.89,Medium,2014,positive,0.7921
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-Dra,Morocco,Africa,Africa,...,"Wilson Jones Hole Reinforcements, Clear",4.0,1,0.0,0.4200,0.49,Medium,2014,positive,0.2401
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,"Hon Color Coded Labels, 5000 Label Set",26.0,3,0.0,12.3600,0.35,Medium,2014,positive,0.1225
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,"Hon Legal Exhibit Labels, Alphabetical",7.0,1,0.0,0.5600,0.20,Medium,2014,positive,0.0400
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Bagged Rubber Bands,3.0,3,0.2,-0.6048,0.17,Medium,2014,negative,0.0289